body {
   padding-top: 60px; 
}

.customAlert {
   margin: 10px;
   text-align: center;
   font-weight: bold;
}

/* Navbar **************************************************************************************************/
#logoImage {
   height: 50px;
   object-fit: contain;
}

.navbar-brand {
   position: absolute;
   left: 0;
   top: 0;
}

#loginContainer {
   border-radius: 10px;
   border: 5px solid #ffffff;
   height: 85vh; 
   box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px, rgba(0, 0, 0, 0.05) 25px 25px;
}

#customNavbar .navbar-nav .dropdown:hover .dropdown-menu {
   display: block;
   margin-top: 0;
}

#customNavbar .navbar-nav .nav-link::after {
   display: none !important;
}

.nav-link {
   display: inline-block;
   border-radius: 10px;
   opacity: 0.4;
   transition: opacity 0.2s ease-in-out !important;
}

.nav-link:hover {
   opacity: 1;
   color: white;
}

.navbarButtons {
   cursor: pointer;
   text-decoration: none;
   color: white;
   padding-right: 20px;
   height: 200%;
   opacity: 0.25;
   transition: opacity 0.5s ease-in-out;
}

.navbarButtons:hover {
   color: white;
   opacity: 1;
}

/* Login ****************************************************************************************************************************************/
.customForm {
   background-color: rgba(255, 255, 255, 0.75);
}

.error-message {
   background-color: red;
   color: red;
}

.menuShadow {
   box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
   transition: box-shadow 3s ease-in-out;
}

.menuShadow:hover {
   box-shadow: rgba(0, 0, 0, 0.55) 4px 4px 6px;
}

.menuShadow:focus {
   box-shadow: rgba(0, 0, 0, 0.55) 4px 4px 6px !important;
}

#logoBackground {
   pointer-events: none;
   position: absolute;
   top: 50%;
   left: 50%;
   width: 45%;
   transform: translate(-50%, -50%);
   opacity: 0.04;
}

#loginButton {
   width: 100%;
   background-color: #212529;
   color: white;
}

#dynamicBackground {
   background-size: cover;
   transition: background-image 4s ease-in-out;
}

#containerDiv { 
   border-radius: 10px; 
   transition: box-shadow 0.7s ease; 
   box-shadow: rgba(0, 0, 0, 0.25) 2.4px 2.4px 3.2px;
   width: 80%;
}

#containerDiv:hover {
   box-shadow: rgba(0, 0, 0, 0.85) 1.4px 4.4px 8.2px;
}

#mainBody {
   background-color: rgb(223, 222, 222);
   transition: background-color 1s ease;
}

/* Tables *************************************************************************************/
.customTable {
   width: 110%;
   border-collapse: collapse;
}

.customTable th {
   background-color: #ff3c0b80;
   text-align: center;
}

.customTable tr:nth-child(even) {
   background-color:  #ffffff;
}

.customTable tr {
   text-align: center;
}

.pagination {
   margin-top: 10px;
   text-align: center;
}

.page-item {
   display: inline-block;
   margin-right: 5px;
   color: red;
}

.page-link {
   color: red !important;
}

.text-muted {
   display: none;
}

/* Mobile *************************************************************************************/
@media only screen and (max-width: 600px) {
   #logoBackground {
       width: 120%; 
       height: auto; 
   }
   
   .customForm {
       background-color: rgba(255, 255, 255, 0.85) !important;
   }
}
