/* Navbar **************************************************************************************************/
#customNavbar .navbar-nav .dropdown:hover .dropdown-menu {
   display: block;
}
#customNavbar .navbar-nav .nav-link::after {
   display: none !important;
}
#customNavbar .nav-link{
   color:rgb(255, 255, 255);
}
#customNavbar .dropdown-menu{
   background-color: #212529;
   color:white;
   position: relative !important;
   border: none !important;
}
#customNavbar .dropdown-item{
   color:white;
}
/* Login ****************************************************************************************************************************************/
.loginScreen{
   background: rgb(255,255,255);
   background: radial-gradient(circle, rgba(255,255,255,1) 5%, rgba(219,214,211,1) 70%);
}
.loginCard{
   border-radius: 30px;
   height: 75%;
   width: 120%;
   max-width: 600px;
   border:1px solid rgb(255, 255, 255);
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}
/* Tables ************************************************************************************ */
.cardTableHeader{
   background-color:rgb(223, 223, 223);
   color: rgb(0, 0, 0);
}
.searchButton{
   background-color:rgb(230, 77, 7);
   color:white !important;
   border:none;
}
.pagination .page-item.active .page-link {
   background-color: rgb(216, 213, 212);
   color: white;
   border: 1px solid rgb(216, 213, 212);
}
.pagination .page-item:hover .page-link {
   background-color: rgba(216, 213, 212, 0.486);
   border: 1px solid rgba(216, 213, 212, 0.171);
}
.page-link {
   color: rgb(0, 0, 0) !important;
}
.text-muted {
   display: none;
}
/******************************** BOTÕES *********************************************************/
.btnOrange{
   background-color: #ff431d !important;
   color: white !important;
   border:none;
}
.btnWhite{
   background-color: rgb(231, 231, 231) !important;
   color: black;
   border:1px solid rgb(156, 154, 154);
}
.btnGrey{
   background-color: rgb(196, 194, 194) !important;
   border:none;
}
.backgroundWhite{
   background-color:rgb(245, 245, 245);
}
/******************************* MENSAGEM DE ALERTA **************************************************************************/
.alert-wrapper {
   position: relative;
   z-index: 1000;
}
.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.3);
   z-index: 1000;
   display: none;
}
.alertMessage {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-weight: bold;
   text-align: center;
   z-index: 1001;
   border-radius: 10px;
}
.alertMessage.show .alert {
   display: block;
}
.customAlert {
   margin: 10px;
   text-align: center;
   font-weight: bold;
}
